<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
    <body> 
        <h2> Benutzerprofil</h2>

        <h3>Ihre Daten:</h3>
        <form action ="/profilansicht" method ="POST">
            <input type="text" name="name"/>
            <hr width=60%>
            <input type="text" name="geburtsdatum"/>
            <hr width=60%>
            <input type="text" name="adresse"/>
            <hr width=60%>
            <input type="text" name="email"/>
            <hr width=60%>
            <input type="text" name="lieblingsfarbe"/>
            <hr width=60%>
            <input type="text" name="interessen"/>
            <hr width=60%>
        </form>







        </form>












    </body>    
</html>