<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
    <body> 
        <h2> Benutzerprofil</h2>

        <h3>Ihre Daten:</h3>
    
        Name: <span th:text="${profil.name}">Name</span><br>
        Geburtstag: <span th:text="${profil.geburtsdatum}">Geburtstag</span><br>
        Adresse: <span th:text="${profil.adresse}">Adresse</span><br>
        eMail: <span th:text="${profil.email}">eMail</span><br>
        Lieblingsfarbe: <span th:text="${profil.lieblingsfarbe}">Lieblingsfarbe</span><br>
        
        
        <h3>Interessen:</h3>
        
        <ol>

            <li th:each="i: ${profil.getInteressenListe()}" th:text="${i}"></li>

        </ol>
           
        

        <b><a th:href="@{/profileditor}">(Profil bearbeiten)</a></b>
    
            











    </body>    
</html>