<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
    <body> 
        <h2><span th:text="#{form.benutzerprofil}"></span></h2>
        Wollen sie <a th:href="@{?sprache=de}">Deutsch</a>
        oder <a th:href="@{?sprache=en}">Englisch</a>?

        <h3><span th:text="#{form.daten}"></span></h3>
    
        <span th:text="#{form.name}"></span><span th:text="${profil.name}">Name</span><br>
        <span th:text="#{form.geburtsdatum}"></span><span th:text="${profil.geburtsdatum}">Geburtstag</span><br>
        <span th:text="#{form.adresse}"></span><span th:text="${profil.adresse}">Adresse</span><br>
        <span th:text="#{form.email}"></span></span> <span th:text="${profil.email}">eMail</span><br>
        <span th:text="#{form.lieblingsfarbe}"></span> <span th:text="${profil.lieblingsfarbe}">Lieblingsfarbe</span><br>
        
        
        <h3> <span th:text="#{form.interessen}"></span></h3>
        
        <ol>

            <li th:each="i: ${profil.getInteressenListe()}" th:text="${i}"></li>

        </ol>
           
        

        <button><a th:href="@{benutzerprofil/bearbeiten}" th:text="#{form.bearbeiten}"></a></button>
    
            











    </body>    
</html>