<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style/profileditor_style.css}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROFIL EDITOR</h1>

        Name: <span th:text="${profil.name}">Name</span><br>
        Geburtstag: <span th:text="${profil.geburtsdatum}">Geburtstag</span><br>
        Adresse: <span th:text="${profil.adresse}">Adresse</span><br>
        eMail: <span th:text="${profil.email}">eMail</span><br>
        Lieblingsfarbe: <span th:text="${profil.lieblingsfarbe}">Lieblingsfarbe</span><br>
        <br>

        Wollen sie <a th:href="@{?sprache=de}">Deutsch</a>
        oder <a th:href="@{?sprache=en}">Englisch</a>?
        
        <form th:action = "@{/benutzerprofil/bearbeiten}" th:method ="post" th:object ="${profil}">
           
            <div>
                
            <span th:text="#{form.name}"></span><br>
            <input type="text" name="name" th:field="*{name}" th:errorclass="input_error"/>
            <br>
            <p th:if="${#fields.hasErrors('name')}" th:errors ="*{name}">Name falsch!</p>
            </div>

            <div>
            <span th:text="#{form.geburtsdatum}"></span><br>
            <input type="date" name="geburtsdatum" th:field="*{geburtsdatum}" th:errorclass="input_error"/><br>
            <br>
            <p th:if="${#fields.hasErrors('geburtsdatum')}" th:errors="*{geburtsdatum}"></p>
            </div>

            <div>
            <span th:text="#{form.adresse}"></span><br>
            <input type="text" name="adresse" th:field="*{adresse}" th:errorclass="input_error"/>
            <br>
            <p th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></p>
            </div>

            <div>
            <span th:text="#{form.email}"></span><br>
            <input type="text" name="email" th:field="*{email}" th:errorclass="input_error"/>
            <br>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <div>
            <span th:text="#{form.lieblingsfarbe}"></span><br>
            <input type="color" name="lieblingsfarbe" th:field="*{lieblingsfarbe}" th:errorclass="input_error"/>
            <p th:if="${#fields.hasErrors('lieblingsfarbe')}" th:errors="*{lieblingsfarbe}"></p>
            <br>
            </div>

            <div>
            <span th:text="#{form.hobbies}"></span><br>
            <input type="text" name="interessen" th:field="*{interessen}" th:errorclass="input_error"/>
            <br>
            <p th:if="${#fields.hasErrors('interessen')}" th:errors="*{interessen}"></p>
            </div>


            <input type="submit" th:value="#{form.abspeichern}">
        </form>

        <button onclick="window.location.href='/benutzerprofil'" type="reset" th:text = "#{form.abbrechen}"></button>
       
</body>
</html>